.collectionsHome{
    display: flex;
    overflow: auto;
    min-height: 100%;
    min-width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.collectionsBox{
    display: flex;
    min-height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.collectionsBox h1{
    font-size: 32px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, fit-content);
    min-height: 92vh;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    background-color: var(--card-color);
}

.collections li{
    display: flex;
    justify-content:space-around;
    height: 500px;
    max-height: 500px;
    border: solid;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
}

#collectionDisplayTitle{
    margin-top: 0;
    margin: 0;
    word-wrap: break-all;
    font-size: larger;
    display: flex;
    justify-content: center;
    min-height: 60px;
    overflow-y: auto;
    word-break: break-all;
    overflow-x: hidden;
    margin-bottom: 5px;
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

#collectionDisplayTitle:hover{
    color: var(--links);
}

#collectionDisplayDesc{
    margin-top: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 90px;
    overflow-y: auto;
    word-break: break-all;
    overflow-x: hidden;
    margin-bottom: 0px;
}

.collections li button{
    background-color: red;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.statusBox{
    height: 40px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#collectionsSettingsIcon{
    align-self: center;
    right: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

.collectionsEdit{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: rgba(119, 136, 153, 0.377);
    position: relative;
    height: 0;
    transition: all .3s ease-in;
}

.collectionsEdit.active{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(119, 136, 153, 0.377);
    position: relative;
    height: 200px;
    max-height: 200px;
    width: inherit;
    transition: all .3s ease-in;
    flex-direction: column;
}

.collectionsEdit li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    border-style: none;
    font-size: 95%;
}

.collectionsEdit li input{
    display: flex;
    border-color: black;
    padding: 5px;
    margin: 3px;
    width: 100%;
}

.collectionsEdit button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 4%;
    margin-bottom: 2px;
    background-color: #282c34;
    color: white;
    border-radius: 10px;
}

.addCollection{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    min-height: 25vh;
    border-style: solid;
    overflow-y: auto;
    background-color: var(--card-color);
}

#collectionEmptyPrompt{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-self: center;
}

#test{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 375px;
}

#closeCreateIcon{
    cursor: pointer;
}

  .addCollection form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .addCollection form label{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .addCollection form input{
    display: flex;
    flex-direction: column;
    border: 1.5px solid;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .addCollection button{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
    color: white;
    background-color: #282c34;
    border-radius: 10px;
  }

@media(max-width: 880px) {
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 570px) {
    .collections{
        grid-template-columns: repeat(1, 1fr);
        width: 250px;
        height: 535px;
        gap: 10px;
    }
}