.collectionsHome{
    display: flex;
    overflow: auto;
    min-height: 95vh;
    min-width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.collectionsBox{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.collectionsBox h1{
    font-size: 32px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style: solid;
    height: 525px;
    width: 50vw;
    text-align: center;
    overflow-y: auto;
}

.collections li{
    display: flex;
    height: 250px;
    border: white solid;
    flex-direction: column;
    margin: 4px 4px 0px 4px;
}

#collectionDisplayTitle{
    margin-top: 0;
    margin: 0;
    word-wrap: break-all;
    font-size: larger;
    display: flex;
    justify-content: center;
    min-height: 60px;
    overflow-y: auto;
    word-break: break-all;
    overflow-x: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
}

#collectionDisplayDesc{
    margin-top: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    height: 90px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.collections li button{
    background-color: red;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.statusBox{
    height: 40px;
    margin-bottom: 5px;
    margin-top: 0px;
}

#settingsIcon{
    align-self: center;
    right: 0;
    font-size: 30px;
    margin-bottom: 5px;
}

.addCollection{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
}

#collectionEmptyPrompt{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-self: center;
}