.group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.groupContent{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.groupsBox-headerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#goBack{
    border-style: none;
    background-color: transparent;
    font-size: 32px;
    margin-left: 5px;
    margin-top: 10px;
}

#delGroup{
    background-color: red;
    border-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    height: 60%;
    margin: 0px 5px 0px 5px;
}

#groupUsers{
    display: flex;
    font-size: 36px;
    margin-right: 10px;
}

.checkUsers{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 65px;
    font-size: 0;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 0;
    height: 0;
    width: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    transition: .3s ease;
    overflow-y: auto;
    z-index: 100;
}

.inviteUser{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 60px;
    top: 93%;
    z-index: 100;
}

.inviteUser label{
    font-size: larger;
    margin-right: 5px;
}

.inviteUser input{
    font-size: larger;
}

.inviteUser button{
    font-size: larger;
    margin-right: 5px;
}

#inviteBtn{
    background-color: green;
    margin-left: 5px;
    border-radius: 10px;
}

#groupUsers:checked~.checkUsers{
    width: 35rem;
    height: 93%;
    font-size: 18px;
}

#noGroupCollections{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 32px;
}

/* .groupCollections{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}

.groupCollection{
    display: flex;
    justify-content: center;
    height: 500px;
    background-color: var(--card-color);
} */

.groupCollections{
    display: flex;
    width: 100%;
    margin: 10px;
}

.groupCollection{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
}

.groupsCollectionList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow-y: auto;
}

.groupsCollectionList li{
    display: flex;
    justify-content:space-around;
    height: 500px;
    max-height: 500px;
    border: solid;
    flex-direction: column;
    margin: 4px 4px 0px 4px;
}

.groupsCollectionList li button{
    margin-top: 10px;
}

#groupsCollectionSettingsIcon{
    margin-top: 5px;
    font-size: 24px;
}

.groupsCollectionEdit{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-style: none;
    background-color: rgba(119, 136, 153, 0.377);
    position: relative;
    height: 0;
    transition: all .3s ease-in;
}

.groupsCollectionEdit.active{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(119, 136, 153, 0.377);
    position: relative;
    height: 200px;
    max-height: 200px;
    width: inherit;
    transition: all .3s ease-in;
    flex-direction: column;
}

.groupsCollectionEdit li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
    border-style: none;
    font-size: 95%;
}

.groupsCollectionEdit li input{
    display: flex;
    border-color: black;
    padding: 5px;
    margin: 3px;
    width: 100%;
}

.groupsCollectionEdit button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-right: 4%;
    margin-bottom: 2px;
    background-color: #282c34;
    color: white;
    border-radius: 10px;
}