.groupsHome{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#groups-NotLogged{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 42px;
}

#groups-NoGroups{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 42px;
}

.groupsBox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.groupsBox-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--secondary-color);
    background-color: var(--card-color);
}

.groupsBox-headerActions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.groupsBox-header h1{
    margin: 10px;
    font-size: 40px;
}

#createGroup{
    background-color: green;
    border-color: var(--primary-color);
    border-style: none;
    border-radius: 10px;
    height: 60%;
}

#groupInvitesIcon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px 0px 10px;
    font-size: 32px;
    background-color: rgb(197, 14, 14);
    padding: 0px 1px 0px 3px;
    height: 60%;
    border-radius: 10px;
    height: fit-content;
}

#groupInvitesNumber{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}